body {
  background-color: #DDDDDD;
  color: #232323;
}

.main  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

textarea {
  font-family: "Anonymous Pro";
  font-size: 2rem;
  background: #DDDDDD;
  color: #232323;
  border: 3px solid #232323;
  border-radius: 0;
}

textarea:focus {
  border: 3px solid #232323;
  border-radius: 0;
}

button {
  border-radius: 0;
  margin-left: 0;
  background: #DDDDDD;
  border: 3px solid #131313;
  color: #131313;
  font-weight: 700;
}

button:hover {
  opacity: 1;
  background: #131313;
  color: #FAFAFA;
}

canvas {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
