body {
  background-color: #FAFAFA;
  color: #232323;
}

.main  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

textarea {
  font-family: "Anonymous Pro";
  font-size: 2rem;
  background: #FAFAFA;
  border: 3px solid #232323;
  border-radius: 0;
}

textarea:focus {
  border: 3px solid #232323;
  border-radius: 0;
}

canvas {
  display: none;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
